@import url("../common.css");

.jimu-widget-mapstate{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.jimu-widget-mapstate .jimu-state-error{
  margin-top: 4px;
  visibility: hidden;
}
.jimu-widget-mapstate .jimu-btn{
  float: none;
  margin: auto;
  width: 100%;
}
